<div class="gt-sidebar">
    <kendo-menu class="gt-sidebar-menu" [vertical]="true">
        <kendo-menu-item cssClass="gt-sidebar-menuitem">
            <ng-template kendoMenuItemTemplate>
                <a class="gt-sidebar-link gt-sidebar-home" [routerLink]="['/','dashboard']" [routerLinkActive]="['gt-sidebar-link-active-dashboard', 'gt-sidebar-link-active']">
                    <div>
                        <img class="gt-sidebar-logo" src="./assets/images/gtreasury-logo.svg" alt="GTreasury logo" />
                    </div>
                </a>
            </ng-template>
        </kendo-menu-item>
        <kendo-menu-item cssClass="gt-sidebar-menuitem">
            <ng-template kendoMenuItemTemplate>
                <a class="gt-sidebar-link" [routerLink]="['/','cash']" [routerLinkActive]="['gt-sidebar-link-active-cash', 'gt-sidebar-active']">
                    <div>
                        <clr-icon shape="dollar-bill" size="30" class="gt-sidebar-icon"></clr-icon>
                    </div>
                    <div class="gt-sidebar-text">
                        Cash
                    </div>
                </a>
            </ng-template>
        </kendo-menu-item>
        <kendo-menu-item cssClass="gt-sidebar-menuitem">
            <ng-template kendoMenuItemTemplate>
                <a class="gt-sidebar-link" [routerLink]="['/','financialInstruments']" [routerLinkActive]="['gt-sidebar-link-active-financial-instruments', 'gt-sidebar-link-active']">
                    <div>
                        <clr-icon shape="briefcase" size="30" class="gt-sidebar-icon"></clr-icon>
                    </div>
                    <div class="gt-sidebar-text">
                        Financial Instruments
                    </div>
                </a>
            </ng-template>
        </kendo-menu-item>
        <kendo-menu-item cssClass="gt-sidebar-menuitem">
            <ng-template kendoMenuItemTemplate>
                <a class="gt-sidebar-link" [routerLink]="['/','payments']" [routerLinkActive]="['gt-sidebar-link-active-payments', 'gt-sidebar-link-active']">
                    <div>
                        <clr-icon shape="wallet" size="30" class="gt-sidebar-icon"></clr-icon>
                    </div>
                    <div class="gt-sidebar-text">
                        Payments
                    </div>
                </a>
            </ng-template>
        </kendo-menu-item>
        <kendo-menu-item cssClass="gt-sidebar-menuitem">
            <ng-template kendoMenuItemTemplate>
                <a class="gt-sidebar-link" [routerLink]="['/','reports']" [routerLinkActive]="['gt-sidebar-link-active-reports', 'gt-sidebar-link-active']">
                    <div>
                        <clr-icon shape="bar-chart" size="30" class="gt-sidebar-icon"></clr-icon>
                    </div>
                    <div class="gt-sidebar-text">
                        Reports
                    </div>
                </a>
            </ng-template>
        </kendo-menu-item>
        <kendo-menu-item cssClass="gt-sidebar-menuitem">
            <ng-template kendoMenuItemTemplate>
                <a class="gt-sidebar-link" [routerLink]="['/','dataManagement']" [routerLinkActive]="['gt-sidebar-link-active-data-management', 'gt-sidebar-link-active']">
                    <div>
                        <clr-icon shape="data-cluster" size="30" class="gt-sidebar-icon"></clr-icon>
                    </div>
                    <div class="gt-sidebar-text">
                        Data Management
                    </div>
                </a>
            </ng-template>
        </kendo-menu-item>
        <kendo-menu-item cssClass="gt-sidebar-menuitem">
            <ng-template kendoMenuItemTemplate>
                <a class="gt-sidebar-link" [routerLink]="['/','administration']" [routerLinkActive]="['gt-sidebar-link-active-admin', 'gt-sidebar-link-active']">
                    <div>
                        <clr-icon shape="administrator" size="30" class="gt-sidebar-icon"></clr-icon>
                    </div>
                    <div class="gt-sidebar-text">
                        Admin
                    </div>
                </a>
            </ng-template>
        </kendo-menu-item>
    </kendo-menu>
</div>