<kendo-appbar position="top" class="core-gray-02-background">
    <kendo-appbar-section>
        <gt-navigation-bar-ticker></gt-navigation-bar-ticker>
    </kendo-appbar-section>
    <kendo-appbar-spacer></kendo-appbar-spacer>
    <kendo-appbar-section>
        <gt-navigation-bar-search></gt-navigation-bar-search>
    </kendo-appbar-section>
    <kendo-appbar-spacer></kendo-appbar-spacer>
    <kendo-appbar-section>
        <gt-navigation-bar-quick-tasks></gt-navigation-bar-quick-tasks>
    </kendo-appbar-section>
    <kendo-appbar-spacer></kendo-appbar-spacer>
    <kendo-appbar-section>
        <gt-navigation-bar-support></gt-navigation-bar-support>
    </kendo-appbar-section>
    <kendo-appbar-spacer></kendo-appbar-spacer>
    <kendo-appbar-section>
        <gt-navigation-bar-language-selector></gt-navigation-bar-language-selector>
    </kendo-appbar-section>
    <kendo-appbar-spacer></kendo-appbar-spacer>
    <kendo-appbar-section>
        <gt-navigation-bar-user></gt-navigation-bar-user>
    </kendo-appbar-section>
</kendo-appbar>