@import "../../../../../styles/variables.scss";

.gt-dashboard {
  padding: 0 !important;
  background: $core-gray-01;
  margin-top: 0.5rem;

  &-card {
  box-shadow: $elevation-general-01;
  
    &-header {
      display: flex;
      justify-content: space-between;
      border: none;

      &-name {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  .gt-grid-badge {
    
    &-yes {
      background-color: $core-blue-02;
    }

    &-no {
      background-color: $core-red-02;
    }
  }
}
