<div class="gt-toolbar">
  <div class="gt-toolbar-actions">
    <div class="gt-toolbar-actions-left">
      <div>
        <kendo-dropdownlist
          class="gt-toolbar-actions-select"
          [data]="worksheets"
          [defaultItem]="worksheetsDefault"
        >
        </kendo-dropdownlist>
      </div>
      <div class="gt-toolbar-actions-buttons">
        <kendo-buttongroup>
          <button kendoButton size="large" themeColor="tertiary" fillMode="flat">
            <clr-icon shape="pencil" class="is-solid"></clr-icon>
          </button>
          <button kendoButton size="large" themeColor="tertiary" fillMode="flat">
            <clr-icon shape="clone" class="is-solid"></clr-icon>
          </button>
          <button kendoButton size="large" themeColor="tertiary" fillMode="flat">
            <clr-icon shape="trash" class="is-solid"></clr-icon>
          </button>
          <button kendoButton size="large" themeColor="tertiary" fillMode="flat">
            <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
          </button>
          <button kendoButton size="large" themeColor="tertiary" fillMode="flat">
            <clr-icon shape="star" class="is-solid favorite"></clr-icon>
          </button>
          <button kendoButton size="large" themeColor="tertiary" fillMode="flat">
            <clr-icon shape="search" class="is-solid"></clr-icon>
          </button>
        </kendo-buttongroup>
      </div>
    </div>
    <div class="gt-toolbar-actions-right">
      <div class="gt-toolbar-actions-toggle">
        <kendo-buttongroup selection="single">
          <button kendoButton [togglable]="true" [selected]="true">
            Transaction date
          </button>
          <button kendoButton [togglable]="true">Value date</button>
          <button kendoButton [togglable]="true">Process date</button>
        </kendo-buttongroup>
      </div>
    </div>
  </div>
  <div class="gt-toolbar-filters">
    <div>
      <kendo-textbox
        class="gt-toolbar-filters-search"
        [clearButton]="true"
        placeholder="Search all data...">
      </kendo-textbox>
    </div>
    <div>
      <kendo-daterange class="gt-toolbar-filters-daterange">
        <kendo-dateinput
          class="gt-toolbar-filters-date gt-toolbar-filters-date-start"
          kendoDateRangeStartInput
          [(value)]="startDate"
          format="dd MMM yyyy"
        ></kendo-dateinput>
        <kendo-dateinput
          class="gt-toolbar-filters-date gt-toolbar-filters-date-end"
          kendoDateRangeEndInput
          [(value)]="endDate"
          format="dd MMM yyyy"
        >
        </kendo-dateinput>
        <kendo-daterange-popup [animate]="false"></kendo-daterange-popup>
      </kendo-daterange>
    </div>
    <div>
      <kendo-dropdownlist
        class="gt-toolbar-filters-dropdown"
        [defaultItem]="accountsAndGroupsDefault"
      >
      </kendo-dropdownlist>
    </div>
    <div>
      <kendo-dropdownlist
        class="gt-toolbar-filters-dropdown"
        [data]="tableLayout"
        [defaultItem]="tableLayoutDefault"
      >
      </kendo-dropdownlist>
    </div>
    <div>
      <kendo-multiselect
        class="gt-toolbar-filters-select"
        [data]="ledgerType"
        placeholder="Select data types..."
        [(value)]="ledgerTypeDefault"
      >
      </kendo-multiselect>
    </div>
    <div class="gt-toolbar-filters-switch">Decimals:<kendo-switch class="gt-toolbar-filters-switch-control" [checked]="true"></kendo-switch></div>
    <div class="gt-toolbar-filters-showmore">
      <button kendoButton fillMode="flat" themeColor="info">
        <clr-icon shape="angle-double down"></clr-icon>Show more
      </button>
    </div>
  </div>
</div>
