@import "variables.scss";
@import "modern-css-reset/dist/reset.min.css";
@import "@progress/kendo-theme-default/dist/all.scss";
@import "../assets/fonts/fonts.css";

:root {
  --highlight-color: #{$core-blue-07};
  --dashboard-highlight-color: #{$core-blue-07};
  --cash-highlight-color: #{$core-green-05};
  --financialinstruments-highlight-color: #{$extended-pink-06};
  --payments-highlight-color: #{$extended-indigo-05};
  --reports-highlight-color: #{$extended-cyan-07};
  --datamanagement-highlight-color: #{$extended-flame-07};
  --admin-highlight-color: #{$extended-violet-06};
}

html {
  height: 100%;
}

body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  color: $text-default;
}

// Some Angular directives can take up space in flexbox layouts; this hides those.
router-outlet, kendo-resize-sensor {
  display: none;
}

// Page-level layouts
gt-cash-container, gt-financial-instruments-container, gt-todo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.gt-layout-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2.5rem;

  &-titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    font-size: 2rem;
    line-height: 43px;
    font-weight: normal;
    color: $text-light;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-grow: 1;
  }
}

// Menus
.k-popup {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 $transparent-dark-20;
  min-width: 5rem;
}

// Icon replacements
// Down arrow
.k-i-arrow-s::before, .k-i-arrow-60-down::before, .k-i-collapse::before {
  content: "\e015";
}

// Right arrow
.k-i-expand::before {
  content: "\e014";
}

// Up arrow
.k-i-arrow-n::before {
  content: "\e013";
}

// Table header ellipses
.k-grid .k-header .k-i-more-vertical:before {
  content: url("../assets/images/filter-line.svg");
}

// Table sort arrows
.k-i-sort-asc-sm::before {
  content: url("../assets/images/arrow-up.svg");
}

.k-i-sort-desc-sm::before {
  content: url("../assets/images/arrow-down.svg");
}

// Buttons
.k-button-text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.k-button-flat.k-focus::after {
  opacity: 0;
}

.k-button-sm {
  padding: 2px;
}

.k-button, .k-button::before {
  transition: none;
}

.k-button-solid-secondary, .k-button-outline-secondary {
  border-color: $core-gray-04;
  color: $text-default;

  &:hover {
    border-color: $core-gray-05;
  }

  &:active {
    border-color: $core-gray-06;
  }
}

// Inputs
::placeholder {
  color: $text-extra-light !important;
}

.k-input:hover, .k-input.k-hover, .k-input:focus, .k-input.k-focus {
  border-color: $core-gray-05;
}

.k-input:active, .k-input.k-hover, .k-input:focus, .k-input.k-focus {
  border-color: $core-gray-05;
}

.k-list-item, .k-list-optionlabel {
  transition: none;
  gap: 0;
}

.k-list-item:active, .k-list-item.k-selected:hover {
  background: $core-blue-02;
}

.k-list-item.k-selected:active {
  background: $core-blue-03;
}

.k-picker .k-input-button {
  color: $icon-default;
}

.k-i-x-circle::before {
  content: "\e11b";
  color: $icon-default;
  position: relative;
  top: 1px;
  left: 1px;
}

.k-checkbox:checked, .k-checkbox.k-checked {
  &:hover {
    background-color: $core-blue-08;
  }

  &:active {
    background-color: $core-blue-09;
  }
}

// Sidebar
.gt-sidebar {

  .k-menu-vertical > .k-menu-item > .k-menu-link {
    padding: 0;
  }
}

// Header
.gt-header {

  .k-input-inner, .k-input-button, .k-menu-link {
    padding: 0;
  }

  .k-menu-link {
    color: $text-default;
    gap: 0.35rem;
  }

  .gt-quick-tasks {

    .k-menu-link {
      padding-left: 0.75rem;
      gap: 0.75rem;
    }

    .k-menu-expand-arrow {
      background: $core-gray-02;
      height: 100%;
      padding: 0.5rem 1rem;
      margin-inline-end: 0;
      box-shadow: inset 0 0 0 1px $core-gray-05;
      border-radius: 0 2px 2px 0;
    }
  }
}

// Filter and control bars

.gt-toolbar {

  &-actions-select {

    .k-icon {
      font-size: 1.5rem;
    }

    .k-input-inner, .k-input-button {
      padding: 0;
    }
  }
}

// Grid
.k-grid {
  border: none;

  .k-grid-aria-root {
    border-bottom: 1px solid $core-gray-04;
  }

  .k-grid-header-locked, .k-grid-content-locked, .k-grid-footer-locked {
    border: none;

    th, td {
      border-color: $core-gray-04;
    }
  }

  .k-grid-content-locked .k-state-selected td, .k-grid-content-locked .k-state-selected:hover td, td.k-state-selected, tr.k-state-selected > td, .k-grid-content-locked .k-state-selected.k-alt td {
    background: $core-blue-01;
  }

  .k-grid-pager {
    padding: 0.5rem 0;
    background: none;
    margin-top: 0.5rem;
    border: none;

    .k-pager-info {
      margin-right: 0;
    }
  }

  .k-filterable {
    font-weight: bold;
  }

  .k-grouping-header {
    background: $core-gray-02;

    .k-group-indicator {
      background: $core-gray-03;
    }
  }

  .k-grouping-row + tr td {
    border-top: none;
  }

  th, td {
    border-width: 0 0 1px 0;
    border-color: $core-gray-04;
  }

  .gt-numeric-date {
    text-align: right;
  }

  .gt-grid-badge {
    padding: 0.25rem;
    border-radius: 2px;
    font-size: 12px;
  }

  .gt-grid-link {
    color: $core-blue-08;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .k-command-cell > .k-button + .k-button {
    margin-inline-start: 0.25rem;
  }
}

// Pager
.k-pager-numbers .k-link.k-state-selected, .k-pager-numbers .k-link:hover, .k-pager-numbers .k-link.k-state-hover {
  background: $core-blue-01;
}

// Worksheet
.gt-worksheets {

  th, td {
    text-align: right;
  }

  .gt-worksheet {

    .k-grid-aria-root {
      border: none;
    }

    .k-grid-footer td, .k-group-footer td {
      font-weight: normal;
    }

    &-groupheaders {
      background: $core-blue-02;
      text-align: left;
    }

    &-lockedheaders {
      text-align: left;
    }

    &-datatype {
      background: $core-blue-01;
      text-align: center;
    }

    &-header {
      text-align: center;
      font-weight: bold;
    }

    &-summary {

      &-header {
        background: $core-gray-09;
        color: $text-white;
      }
    }

    &-weekend {
      background: $core-gray-02;

      &-header {
        background: $core-gray-02;
      }
    }
  }
}
