// Obelisk Design System colors

// Core
$core-gray-01: #ffffff;
$core-gray-02: #f4f4f4;
$core-gray-03: #e8e8e9;
$core-gray-04: #d0d1d2;
$core-gray-05: #b9bbbc;
$core-gray-06: #a1a4a5;
$core-gray-07: #8a8d8f;
$core-gray-08: #6e7172;
$core-gray-09: #454748;
$core-gray-10: #292a2b;
$core-gray-11: #0e0e0e;
$core-blue-01: #eaf0f8;
$core-blue-02: #d5e2f0;
$core-blue-03: #abc4e1;
$core-blue-04: #80a7d3;
$core-blue-05: #5689c4;
$core-blue-06: #417bbc;
$core-blue-07: #2c6cb5;
$core-blue-08: #1d558d;
$core-blue-09: #0f3d66;
$core-blue-10: #00263e;
$core-blue-11: #000b13;
$core-green-01: #eaf7f1;
$core-green-02: #c2e6d3;
$core-green-03: #9bd7b7;
$core-green-04: #2ab072;
$core-green-05: #1d7b50;
$core-green-06: #155839;
$core-yellow-01: #fff8e0;
$core-yellow-02: #ffe48c;
$core-yellow-03: #ffcd00;
$core-yellow-04: #ffb500;
$core-yellow-05: #e57c1b;
$core-yellow-06: #be4e13;
$core-red-01: #fbe7e6;
$core-red-02: #f4bfb8;
$core-red-03: #e87e70;
$core-red-04: #d92811;
$core-red-05: #ae200e;
$core-red-06: #82180a;

// Text and icon
$text-default: $core-gray-11;
$text-light: $core-gray-09;
$text-extra-light: $core-gray-07;
$text-white: $core-gray-01;
$text-link: $core-blue-08;
$text-success: $core-green-05;
$text-warning: $core-yellow-06;
$text-error: $core-red-05;
$icon-default: $core-gray-09;
$icon-light: $core-gray-07;
$icon-extra-light: $core-gray-05;
$icon-white: $core-gray-01;
$icon-link: $core-blue-07;
$icon-success: $core-green-04;
$icon-warning: $core-yellow-05;
$icon-error: $core-red-04;

// Transparencies
$transparent-dark-8: rgba(0, 0, 0, 0.08);
$transparent-dark-20: rgba(0, 0, 0, 0.2);
$transparent-dark-40: rgba(0, 0, 0, 0.4);
$transparent-dark-60: rgba(0, 0, 0, 0.6);
$transparent-light-12: rgba(255, 255, 255, 0.12);
$transparent-light-20: rgba(255, 255, 255, 0.2);
$transparent-light-40: rgba(255, 255, 255, 0.4);
$transparent-light-60: rgba(255, 255, 255, 0.6);
$transparent-light-80: rgba(255, 255, 255, 0.8);

// Extended
$extended-teal-01: #eaf7f7;
$extended-teal-02: #d5efef;
$extended-teal-03: #aadee0;
$extended-teal-04: #80ced0;
$extended-teal-05: #55bdc1;
$extended-teal-06: #2badb1;
$extended-teal-07: #228a8e;
$extended-teal-08: #1a686a;
$extended-cyan-01: #f3fafd;
$extended-cyan-02: #e1f5fb;
$extended-cyan-03: #99d7ee;
$extended-cyan-04: #4db9e2;
$extended-cyan-05: #009bd5;
$extended-cyan-06: #0089c2;
$extended-cyan-07: #0078af;
$extended-cyan-08: #00598d;
$extended-indigo-01: #eaebf8;
$extended-indigo-02: #d5d8f0;
$extended-indigo-03: #abb0e1;
$extended-indigo-04: #8089d3;
$extended-indigo-05: #5661c4;
$extended-indigo-06: #2c3ab5;
$extended-indigo-07: #232e91;
$extended-indigo-08: #1a236d;
$extended-purple-01: #f0e9f9;
$extended-purple-02: #e1d3f3;
$extended-purple-03: #c2a6e8;
$extended-purple-04: #a47adc;
$extended-purple-05: #854dd1;
$extended-purple-06: #6721c5;
$extended-purple-07: #521a9e;
$extended-purple-08: #3e1476;
$extended-violet-01: #f4eaf6;
$extended-violet-02: #ead4ed;
$extended-violet-03: #d4a9da;
$extended-violet-04: #bf7ec8;
$extended-violet-05: #a953b5;
$extended-violet-06: #9428a3;
$extended-violet-07: #762082;
$extended-violet-08: #591862;
$extended-pink-01: #f8eaf0;
$extended-pink-02: #f0d5e2;
$extended-pink-03: #e1abc4;
$extended-pink-04: #d380a7;
$extended-pink-05: #c45689;
$extended-pink-06: #b52c6c;
$extended-pink-07: #912356;
$extended-pink-08: #6d1a41;
$extended-flame-01: #fceee8;
$extended-flame-02: #f9dcd0;
$extended-flame-03: #f2baa2;
$extended-flame-04: #ec9773;
$extended-flame-05: #e57545;
$extended-flame-06: #df5216;
$extended-flame-07: #b24212;
$extended-flame-08: #86310d;
$extended-orange-01: #fcf2e8;
$extended-orange-02: #fae5d1;
$extended-orange-03: #f5cba4;
$extended-orange-04: #efb176;
$extended-orange-05: #ea9749;
$extended-orange-06: #e57c1b;
$extended-orange-07: #c76216;
$extended-orange-08: #a94611;
$extended-brown-01: #eeeae8;
$extended-brown-02: #dcd5d0;
$extended-brown-03: #b9aba1;
$extended-brown-04: #978072;
$extended-brown-05: #745643;
$extended-brown-06: #512c14;
$extended-brown-07: #412310;
$extended-brown-08: #311a0c;

// Kendo UI overrides

// From main _variables file
$enable-gradients: false;
$enable-shadows: false;
$primary: $core-blue-07;
$primary-lighter: $core-blue-06;
$primary-darker: $core-blue-08;
$secondary: $core-gray-09;
$secondary-lighter: $core-gray-08;
$secondary-darker: $core-gray-10;
$tertiary: $secondary;
$tertiary-lighter: $secondary-lighter;
$tertiary-darker: $secondary-darker;
$info: $core-blue-07;
$info-lighter: $core-blue-06;
$info-darker: $core-blue-08;
$success: $core-green-05;
$success-lighter: $core-green-04;
$success-darker: $core-green-06;
$warning: $core-yellow-03;
$warning-lighter: $core-yellow-02;
$warning-darker: $core-yellow-04;
$error: $core-red-05;
$error-lighter: $core-red-04;
$error-darker: $core-red-06;
$dark: $core-gray-09;
$light: $core-gray-03;
$body-bg: $core-gray-01;
$body-text: $text-default;
$heading-text: $text-light;
$subtle-text: $text-light;
$disabled-text: $text-extra-light;
$app-bg: $core-gray-01;
$app-border: $core-gray-04;
$component-bg: $core-gray-01;
$component-text: $text-default;
$component-border: $core-gray-04;
$base-bg: $core-gray-02;
$base-text: $text-default;
$base-border: $core-gray-04;
$base-gradient: transparent;
$hovered-bg: $core-gray-03;
$hovered-text: $text-default;
$hovered-border: $core-gray-05;
$hovered-gradient: transparent;
$selected-bg: $core-blue-07;
$selected-text: $text-white;
$selected-border: $core-blue-07;
$selected-gradient: transparent;
$selected-hover-bg: $core-blue-08;
$selected-hover-text: $text-white;
$selected-hover-border: $core-blue-08;
$selected-hover-gradient: transparent;
$focused-shadow: none;
$primary-focused-shadow: none;

// From component-level _variables files
// These were done in our initial test project and will likely be deprecated or
// moved to proper locations

$kendo-button-bg: $core-gray-03;
$kendo-button-text: $text-default;
$kendo-button-border: $core-gray-04;
$kendo-button-hover-bg: $core-gray-04;
$kendo-button-hover-border: $core-gray-05;
$link-text: $core-blue-08;
$link-hover-text: $core-blue-09;
$series-a: $core-red-03;
$series-b: $core-yellow-03;
$series-c: $core-green-03;
$series-d: $extended-cyan-04;
$series-e: $extended-indigo-05;
$series-f: $extended-violet-05;
$grid-hovered-bg: $core-gray-02;
