<div class="gt-portfolio">
  <kendo-grid
    [kendoGridBinding]="portfolioData"
    kendoGridSelectBy="id"
    [pageSize]="10"
    [pageable]="true"
    [sortable]="true"
    [groupable]="true"
    [reorderable]="true"
    [resizable]="true"
    [columnMenu]="{ filter: true }"
    >
      <kendo-grid-checkbox-column
        [width]="40"
        [headerClass]="{'text-center': true}"
        [class]="{'text-center': true}"
        [resizable]="false"
        [columnMenu]="false"
        [showSelectAll]="true"
        [locked]="true"
      >
      </kendo-grid-checkbox-column>
      <kendo-grid-command-column title="Actions" [width]="140" [locked]="true">
        <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand size="small" themeColor="tertiary" fillMode="flat">
              <clr-icon shape="pencil" class="is-solid"></clr-icon>
            </button>
            <button class="k-button k-button-sm k-rounded-md k-button-flat-tertiary k-button-flat" size="small" themeColor="tertiary" fillMode="flat">
              <clr-icon shape="clone" class="is-solid"></clr-icon>
            </button>
            <button kendoGridRemoveCommand size="small" themeColor="tertiary" fillMode="flat">
              <clr-icon shape="trash" class="is-solid"></clr-icon>
            </button>
            <button class="k-button k-button-sm k-rounded-md k-button-flat-tertiary k-button-flat" size="small" themeColor="tertiary" fillMode="flat">
              <clr-icon shape="ellipsis-vertical" class="is-solid"></clr-icon>
            </button>
        </ng-template>
      </kendo-grid-command-column>
      <kendo-grid-column field="id" title="ID" [width]="100" [locked]="true">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a href="javascript:void(0);">{{dataItem.id}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="status" title="Status" [width]="150">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span class="badge" [ngClass]="'badge-' + dataItem.status.toLowerCase()">{{dataItem.status}}</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Name" [width]="150"></kendo-grid-column>
      <kendo-grid-column field="type" title="Type" [width]="150"></kendo-grid-column>
      <kendo-grid-column field="product" title="Product" [width]="150"></kendo-grid-column>
      <kendo-grid-column field="amount" title="Amount" [width]="150" format="#,#.00" class="gt-currency-date"></kendo-grid-column>
      <kendo-grid-column field="currency" title="Currency" [width]="150"></kendo-grid-column>
      <kendo-grid-column field="attachments" title="Attachments" [width]="170">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a *ngIf="dataItem.attachments > 0" href="javascript:void(0);">{{dataItem.attachments}}</a>
          <span *ngIf="dataItem.attachments <= 0">N/A</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="start" title="Start" [width]="150" format="d MMM yyyy" class="gt-currency-date"></kendo-grid-column>
      <kendo-grid-column field="term" title="Term" [width]="120"></kendo-grid-column>
      <kendo-grid-column field="end" title="End" [width]="150" format="d MMM yyyy" class="gt-currency-date"></kendo-grid-column>
      <kendo-grid-column field="rate" title="Rate" [width]="150"></kendo-grid-column>
      <kendo-grid-column field="frequency" title="Frequency" [width]="150"></kendo-grid-column>
  </kendo-grid>
</div>
