@import "../../../../../styles/variables.scss";

.gt-grid-badge {

  &-created {
    background-color: $extended-violet-02;
  }

  &-confirmed {
    background-color: $extended-flame-02;
  }
  
  &-submitted {
    background-color: $extended-indigo-02;
  }
}

