<div class="cash-tabstrip-container display-flex flex-row">
    <div>
        <a [routerLink]="['/cash','worksheets']" [routerLinkActive]="['active-tab']">
            Approvals
        </a>
    </div>
    <div>
        <a [routerLink]="['/cash','forecasts']" [routerLinkActive]="['active-tab']">
            Forecasts
        </a>
    </div>
    <div>
        <a [routerLink]="['/cash','balances']" [routerLinkActive]="['active-tab']">
            Balances
        </a>
    </div>
    <div>
        <a [routerLink]="['/cash','generalLedger']" [routerLinkActive]="['active-tab']">
            General Ledger
        </a>
    </div>
    <div>
        <a [routerLink]="['/cash','reconciliations']" [routerLinkActive]="['active-tab']">
            Reconciliations
        </a>
    </div>
    <div>
        <a [routerLink]="['/cash','statements']" [routerLinkActive]="['active-tab']">
            Statements
        </a>
    </div>
</div>