.gt-cash {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    flex-grow: 1;

    &-navigation {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      flex-grow: 1;
    }
}