<div class="gt-titlebar">
  <div class="gt-titlebar-actions">
    <span *ngIf="showDateTime" class="gt-titlebar-date">{{ loadingCompleteDate | date: "ccc d MMM YYYY h:mm:ss" }} {{ loadingCompleteDate | date: "a" | lowercase }} {{tzName}}</span>
    <div class="gt-titlebar-actions-tertiary" *ngIf="tertiaryButtons.length > 0">
      <button *ngFor="let button of tertiaryButtons" class="gt-titlebar-actions-tertiary" kendoButton themeColor="tertiary" fillMode="flat"><clr-icon [attr.shape]="button.icon"></clr-icon>{{button.text}}</button>
    </div>
    <button class="gt-titlebar-actions-cta gt-titlebar-actions-secondary" *ngIf="secondaryButton" kendoButton themeColor="secondary" size="large">{{secondaryButton.text}}</button>
    <button class="gt-titlebar-actions-cta gt-titlebar-actions-primary gt-titlebar-actions-primary-cash" *ngIf="primaryButton" kendoButton themeColor="primary" size="large">{{primaryButton.text}}</button>
  </div>
</div>
