<div class="gt-titlebar">
  <h1 class="gt-titlebar-title">{{ titlebarName }}</h1>
  <div class="gt-titlebar-actions">
    <span *ngIf="shouldDisplayDateTime" class="gt-titlebar-date">{{ loadingCompleteDate | date: "ccc d MMM YYYY h:mm:ss" }} {{ loadingCompleteDate | date: "a" | lowercase }} {{tzName}}</span>
    <button class="gt-titlebar-actions-tertiary" *ngIf="shouldDisplaySettings" kendoButton themeColor="tertiary" fillMode="flat"><clr-icon shape="cog"></clr-icon>Settings</button>
    <button class="gt-titlebar-actions-cta gt-titlebar-actions-secondary" *ngIf="shouldDisplaySecondary" kendoButton themeColor="secondary" size="large">New forecast</button>
    <button class="gt-titlebar-actions-cta gt-titlebar-actions-primary gt-titlebar-actions-primary-cash" *ngIf="shouldDisplayPrimary" kendoButton themeColor="primary" size="large">New worksheet</button>
  </div>
</div>
