@import "../../../../styles/variables.scss";

.gt-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    font-size: 2rem;
    line-height: 43px;
    font-weight: normal;
    color: $text-light;
  }

  &-date {
    font-size: 14px;
  }

  &-actions {
    display: flex;
    gap: 1rem;
    align-items: center;

    &-cta {
      font-size: 18px;
      padding: 0.5rem 0.75rem;
    }

    &-primary {

      &:focus {
        box-shadow: none;
      }

      &:hover {
        opacity: 0.9;
      }

      &:active {
        opacity: 0.95;
      }

      &-cash {
        background-color: $core-green-05;
      }
    }

    &-tertiary {

      span {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
  }
}
