@import "../../../../styles/variables.scss";

.gt-cash-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    font-size: 2rem;
    line-height: 43px;
    font-weight: normal;
    color: $text-light;
  }

  &-date {
    font-size: 14px;
  }

  &-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
