@import "../../../../styles/variables.scss";

.gt-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;

  &-date {
    font-size: 14px;
  }

  &-actions {
    display: flex;
    gap: 1rem;
    align-items: center;

    &-cta {
      font-size: 18px;
      padding: 0.5rem 0.75rem;
    }

    &-primary {
      background-color: var(--highlight-color);

      &:focus {
        box-shadow: none;
      }

      &:hover {
        opacity: 0.9;
      }

      &:active {
        opacity: 0.95;
      }
    }
  }
}
