@import "../../../../styles/variables.scss";

.gt-portfolios {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.gt-grid-badge {

  &-created {
    background-color: $extended-violet-02;
  }

  &-confirmed {
    background-color: $extended-flame-02;
  }

  &-submitted {
    background-color: $extended-indigo-02;
  }
}
