@import "../styles/variables.scss";

.gt-layout {
    display: flex;
    height: 100%;
    overflow: hidden;
    
    &-column {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &-sidebar {
        flex-shrink: 0;
        overflow-y: auto;
    }

    &-header {
        padding: 0.75rem 2.5rem;
    }

    &-page {
        overflow-y: auto;
        padding: 2.5rem;
    }
}