@import "../../../../styles/variables.scss";

.gt-approvals {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.gt-grid-badge {

  &-waiting-on-approval {
    background-color: $extended-violet-02;
  }

  &-rejected {
    background-color: $core-red-02;
  }
}
