<div class="gt-approvals">
  <div class="gt-approvals-controls">
    <gt-approvals-toolbar></gt-approvals-toolbar>
    <gt-grid-action-bar
      (actionClicked)="onActionClicked($event)"
    ></gt-grid-action-bar>
  </div>
  <div class="gt-approval">
    <kendo-grid
      #approvalsGrid="kendoGrid"
      [kendoGridBinding]="approvalData"
      kendoGridSelectBy="id"
      [pageSize]="10"
      [pageable]="{ pageSizes: [5, 10, 15, 20, 25] }"
      [selectable]="{ checkboxOnly: true }"
      [sortable]="true"
      [groupable]="true"
      [reorderable]="true"
      [resizable]="true"
      [columnMenu]="{ filter: true }"
      >
        <kendo-grid-checkbox-column
          [width]="40"
          [headerClass]="{'text-center': true}"
          [class]="{'text-center': true}"
          [resizable]="false"
          [columnMenu]="false"
          [showSelectAll]="true"
          [locked]="true"
          [reorderable]="false"
        >
        </kendo-grid-checkbox-column>
        <kendo-grid-command-column title="Actions" [width]="140" [minResizableWidth]="140" [locked]="true" [reorderable]="false">
          <ng-template kendoGridCellTemplate>
              <button kendoGridEditCommand size="small" themeColor="tertiary" fillMode="flat">
                <clr-icon shape="pencil" class="is-solid"></clr-icon>
              </button>
              <button class="k-button k-button-sm k-rounded-md k-button-flat-tertiary k-button-flat" size="small" themeColor="tertiary" fillMode="flat">
                <clr-icon shape="clone" class="is-solid"></clr-icon>
              </button>
              <button kendoGridRemoveCommand size="small" themeColor="tertiary" fillMode="flat">
                <clr-icon shape="trash" class="is-solid"></clr-icon>
              </button>
              <button class="k-button k-button-sm k-rounded-md k-button-flat-tertiary k-button-flat" size="small" themeColor="tertiary" fillMode="flat">
                <clr-icon shape="ellipsis-vertical" class="is-solid"></clr-icon>
              </button>
          </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-column field="accountId" title="Account ID" [width]="90" [minResizableWidth]="90" [locked]="true" [reorderable]="false" class="gt-numeric-date">
          <ng-template kendoGridCellTemplate let-dataItem>
            <a class="gt-grid-link" href="javascript:void(0);">{{dataItem.accountId}}</a>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="approvalStatus" title="Approval Status" [width]="150" [minResizableWidth]="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span class="gt-grid-badge" [ngClass]="'gt-grid-badge-' + dataItem.approvalStatus.toLowerCase().replaceAll(' ', '-')">{{dataItem.approvalStatus}}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="sendingAccount" title="Sending account" [width]="150" [minResizableWidth]="150"></kendo-grid-column>
        <kendo-grid-column field="receivingAccount" title="Receiving account" [width]="170" [minResizableWidth]="170"></kendo-grid-column>
        <kendo-grid-column field="amount" title="Amount" [width]="150" [minResizableWidth]="150" format="#,#.00" class="gt-numeric-date"></kendo-grid-column>
        <kendo-grid-column field="currency" title="Currency" [width]="150" [minResizableWidth]="150"></kendo-grid-column>
        <kendo-grid-column field="approvalsNeeded" title="Approval needed" [width]="170" [minResizableWidth]="170"></kendo-grid-column>
        <kendo-grid-column field="transactionDate" title="Transaction date" [width]="150" [minResizableWidth]="150" format="d MMM yyyy" class="gt-numeric-date"></kendo-grid-column>
        <kendo-grid-column field="valueDate" title="Value date" [width]="150" [minResizableWidth]="150" format="d MMM yyyy" class="gt-numeric-date"></kendo-grid-column>
        <kendo-grid-column field="processDate" title="Process date" [width]="150" [minResizableWidth]="150" format="d MMM yyyy" class="gt-numeric-date"></kendo-grid-column>
        <kendo-grid-pdf fileName="Approvals.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true"></kendo-grid-pdf>
        <kendo-grid-excel fileName="Approvals.xlsx"></kendo-grid-excel>
    </kendo-grid>
  </div>
</div>
