<div class="gt-ticker">
  <kendo-dropdownlist
    class="gt-ticker-select"
    [defaultItem]="tickerDefaultOption"
    [data]="tickerOptions"
    [popupSettings]="{ width: 'auto' }"
    textField="text"
    valueField="value"
  >
  </kendo-dropdownlist>
  <div *ngIf="tickerDetails" class="gt-ticker-info">
    <div class="gt-ticker-info-figure">{{ tickerDetails.value }}</div>
    <div class="gt-ticker-info-comparison"
      [class]="{
        'gt-ticker-info-up': tickerDetails.isIncrease,
        'gt-ticker-info-down': !tickerDetails.isIncrease
      }"
    >
      <clr-icon
        *ngIf="tickerDetails.isIncrease"
        shape="arrow"
        dir="up"
      ></clr-icon>
      <clr-icon
        *ngIf="!tickerDetails.isIncrease"
        shape="arrow"
        dir="down"
      ></clr-icon>
      {{ tickerDetails.percentage | percent }}
    </div>
  </div>
</div>
