<div>
  <kendo-dropdownlist
    [defaultItem]="tickerDefaultOption"
    [data]="tickerOptions"
    textField="text"
    valueField="value"
  >
  </kendo-dropdownlist>
  <div *ngIf="tickerDetails" style="display: inline-block">
    <div>{{ tickerDetails.value | number: "1.0-2" }}</div>
    <div
      [class]="{
        'color-green': tickerDetails.isIncrease,
        'color-red': !tickerDetails.isIncrease
      }"
    >
      <clr-icon
        *ngIf="tickerDetails.isIncrease"
        shape="arrow"
        dir="up"
      ></clr-icon>
      <clr-icon
        *ngIf="!tickerDetails.isIncrease"
        shape="arrow"
        dir="down"
      ></clr-icon>
      {{ tickerDetails.percentage | percent }}
    </div>
  </div>
</div>
