@import "../../../../../styles/variables.scss";

.gt-ticker {
  display: flex;
  flex-direction: column;
  color: $text-default;

  &-select {
    background: none;
    border: none;
    width: auto;
  }

  &-info {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    font-weight: bold;

    &-figure {
      font-size: 1rem;
    }

    &-comparison {
      display: flex;
      align-items: center;
      position: relative;
      bottom: 1px;
    }

    &-up {
      color: $text-success;
    }

    &-down {
      color: $text-error;
    }
  }
}