.gt-grid-actions {
  display: flex;
  
  &-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  &-select {
    width: 150px;
  }
  
  &-buttons {
    display: flex;
    gap: 0.5rem;
  }
}