@import "../../../../../styles/variables.scss";

.gt-tabstrip {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  box-shadow: 0 1px var(--highlight-color);

  &-option {
    display: flex;
  }

  &-link {
    text-decoration: none;
    color: $text-default;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px 4px 0 0;
    padding: 0.75rem 1.5rem;

    &:hover {
      background-color: $core-gray-02;
    }

    &:active {
      background-color: $core-gray-03;
    }
  }

  &-active {
    background-color: var(--highlight-color);
    color: $core-gray-01;

    &:hover {
      background-color: var(--highlight-color);
      opacity: 0.9;
    }
  }
}
