@import "../../../../../styles/variables.scss";

.gt-tabstrip {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-bottom: 1px solid $core-green-05;

  &-option {
    display: flex;
  }

  &-link {
    text-decoration: none;
    color: $text-default;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.75rem 1.5rem;
  }

  &-active-cash {
    background-color: $core-green-05;
    color: $core-gray-01;
  }
}
